<div class="home-container">
  
  <header class="hero-section">
    <div class="hero-content">
      <h1>Panel de Control</h1>
      <p>Bienvenido de nuevo, Agente. ¿Qué gestionaremos hoy?</p>
      <button class="btn-primary" routerLink="/reservas/registrar">Nueva Reserva +</button>
    </div>
  </header>

  <section class="dashboard-grid">
    
    <div class="card" routerLink="/cliente/lista">
      <div class="icon-bg color-1">👥</div>
        <h3>Clientes</h3>
        <p>Registrar y gestionar viajeros frecuentes.</p>
    </div>

    <div class="card" routerLink="/reservas">
      <div class="icon-bg color-2">✈️</div>
      <h3>Reservas</h3>
      <p>Consultar vuelos y paquetes activos.</p>
    </div>
    
    <div class="card" routerLink="/pagos">
      <div class="icon-bg color-3">💳</div>
      <h3>Facturación</h3>
      <p>Emitir facturas y revisar pagos.</p>
    </div>

    <div class="card" routerLink="/reservas/historial">
      <div class="icon-bg color-4">📂</div>
      <h3>Historial</h3>
      <p>Auditoría pasadas por cliente.</p>
    </div>

  </section>
</div>