<nav class="navbar">
  <a class="brand" (click)="irARuta('/home')">
    <span class="brand-icon">✈️</span>
    <span class="brand-text">TraviGo</span>
  </a>

  <ul class="nav-links">
    <li>
      <a class="nav-link" (click)="irARuta('/home')">Inicio</a>
    </li>
    <li>
      <a class="nav-link" (click)="irARuta('/cliente/lista')">Viajeros</a>
    </li>
    <li>
      <a class="nav-link" (click)="irARuta('/reservas')">Reservas</a>
    </li>
    <li>
      <a class="nav-link" (click)="irARuta('/pagos')">Pagos</a>
    </li>
  </ul>

  <!-- Botón dinámico -->
  <button
    class="btn-login"
    (click)="accionSesion()"
  >
    {{ authService.estaLogueado() ? 'Cerrar sesión' : 'Iniciar sesión' }}
  </button>
</nav>
