<nav class="navbar">
  <a routerLink="/" class="brand">
    <span class="brand-icon">✈️</span>
    <span class="brand-text">TraviGo</span> </a>
  
  <ul class="nav-links">
    <li><a routerLink="/home" routerLinkActive="active" class="nav-link">Inicio</a></li>
    <li><a routerLink="/clientes" routerLinkActive="active" class="nav-link">Viajeros</a></li>
    <li><a routerLink="/reservas" routerLinkActive="active" class="nav-link">Reservas</a></li>
    <li><a routerLink="/pagos" routerLinkActive="active" class="nav-link">Pagos</a></li>
  </ul>

  <button class="btn-login" routerLink="/login">Ingresar</button>
</nav>