<div class="container">
  
  <div class="header-form">
    <h2>📂 Historial por Cliente</h2>
    <button class="btn-secondary" routerLink="../">Volver al Listado</button>
  </div>

  <div class="search-box">
    <label>Seleccione un Cliente para ver su historial:</label>
    <select [(ngModel)]="idClienteSeleccionado" (change)="filtrarHistorial()" class="input-grande">
      <option value="">-- Seleccione Cliente --</option>
      <option *ngFor="let c of listaClientes" [value]="c.idCliente">
        {{ c.nombres }} {{ c.apellidos }} ({{ c.cedula }})
      </option>
    </select>
  </div>

  <div class="resumen-card" *ngIf="reservasFiltradas.length > 0">
    <div class="dato">
      <span>Total Reservas</span>
      <strong>{{ totalReservas }}</strong>
    </div>
    <div class="dato" style="color: #27ae60;">
      <span>Inversión Total</span>
      <strong>{{ totalGasto | currency:'USD' }}</strong>
    </div>
  </div>

  <div *ngIf="idClienteSeleccionado !== '' && reservasFiltradas.length === 0" class="alert">
    ℹ️ Este cliente no tiene reservas registradas en el sistema.
  </div>

  <table class="table" *ngIf="reservasFiltradas.length > 0">
    <thead>
      <tr>
        <th>Código</th>
        <th>Ruta</th>
        <th>Fecha Viaje</th>
        <th>Estado</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of reservasFiltradas">
        <td><strong>{{ item.codigoReserva }}</strong></td>
        <td>{{ item.ruta }}</td>
        <td>{{ item.fechaIda | date:'dd/MM/yyyy' }}</td>
        <td>
          <span [class]="item.activo ? 'badge-activo' : 'badge-inactivo'">
            {{ item.activo ? 'Confirmada' : 'Cancelada' }}
          </span>
        </td>
        <td style="font-weight: bold;">{{ item.precio | currency:'USD' }}</td>
      </tr>
    </tbody>
  </table>

</div>